
{% block title %}Sign-Up{% endblock %}
{% block styles %}


{% endblock styles %}
{% block content %}
					<h1>sign up</h1>					
			        <form id="signup-form" method="POST" action="/signup/">
			            {% csrf_token %}
			       
			                <label for="{{ form.name.id_for_label }}">First Name</label>
						
				                {{ form.first_name }}
								<div>{{ form.first_name.errors }}</div>
								<br>
							
			            
			                <label for="{{ form.name.id_for_label }}">Last Name</label>
							
				                {{ form.last_name }}
								<div>{{ form.last_name.errors }}</div>
			            <div>
			                <label for="{{ form.email.id_for_label }}">Email</label>
							<div>
				                {{ form.email }}
								<div>
								{% if form.email.errors %}
			                	{{ form.email.errors }}
			                	{% elif form.username.errors %}{% endif %}</div>
							</div>
			            </div>
			            <div>
			                <label for="{{ form.password1.id_for_label }}">Password</label>
							<div>
				                {{ form.password1 }}
								<div>{{ form.password1.errors }}</div>
							</div>
			            </div>
			            <div>
			                <input type="submit" name="submit" value="Sign Up" />
			            </div>
			        </form>
			        <div>Already have an account? <a href="/signin/">Sign In</a></div>
			
			
{% endblock content %}
