
{% block title %}Sign In{% endblock %}
{% block styles %}

{% endblock styles %}
{% block content %}
	
					<h1>sign in</h1>					
				
		
			        {% if form.errors %}
			        <p>The email or password you provided is not correct. Please try again.</p>
			        {% endif %}
			      

			        <form id="signin-form" class="signup-form" method="POST" action="/signin/">
					{% csrf_token %}
			            <div>
			                <label for="{{ form.username.id_for_label }}">Email</label>
							<div>
				                {{ form.username }}
								<div>{{ form.username.errors }}</div>
							</div>
			            </div>
			            <div>
			                <label for="{{ form.password.id_for_label }}">Password</label>
							<div>
				                {{ form.password }}
								<div>{{ form.password.errors }}</div>
							</div>
							
							
			            </div>
						
			            <div>
			                <input type="submit" name="submit" value="Sign In" />
			            </div>
			        </form>
				
{% endblock content %}

